$accent: #3E9CDC;
$circle-stroke: #286690;
$text-light: #ffffff;
$text-dark: #000000;
$text-button-dark: #2A2B30;
$text-subtitle: #BBBBBB;
$bg-main: #272733;
$bg-header: #10101D;
$bg-footer: #3D4050;
$footer-text: #C3C3C3;
$bg-input: #dfdfe1;